/*******************
***** CARDS ******
*******************/

.cards {

    display: flex;

    .card {    
        
        display: flex;
        border-radius: $border-radius-card;
        overflow: hidden;

        border: 5px solid white;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition: 0.2s;

        &:hover {
            transform: scale(1.02);
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);       
        }
        
        .card__image {
            overflow: hidden;
            border-top-right-radius: $border-radius-card;
            border-top-left-radius: $border-radius-card;
        }
    
        picture, img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            image-rendering: -moz-crisp-edges;  /* Firefox */
            image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
        }
        
    }



}
