.cards {

    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;

    .card {    
        display: flex;
        border-radius: $border-radius-card;
        overflow: hidden;

        .card__image {
            //max-width: 500px;
            //max-height: 500px;
            overflow: hidden;
            border-top-right-radius: $border-radius-card;
            border-top-left-radius: $border-radius-card;
        }
    
        picture, img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }

}

/**LARGE DEVICES**/
@media screen and (min-width: 991px) {

}

/**MEDIUM DEVICES**/
@media screen and (min-width: 768px) and (max-width: 991px) {

}

/**SMALL DEVICES**/
@media screen and (max-width: 767px) {

    .cards {
        flex-direction: column;
    }

}