.cards {

    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;

    .card {    
        display: flex;
        border-radius: $border-radius-card;
        overflow: hidden;

        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition: 0.3s;

        &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);        }
        
        .card__image {
            //max-width: 500px;
            //max-height: 500px;
            overflow: hidden;
            border-top-right-radius: $border-radius-card;
            border-top-left-radius: $border-radius-card;
        }
    
        picture, img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }

    .card__title {
        font-size: 16px;
    }

    .card__subtitle {
        font-size: 14px;
    }

}

/**LARGE DEVICES**/
@media screen and (min-width: 991px) {

}

/**MEDIUM DEVICES**/
@media screen and (min-width: 768px) and (max-width: 991px) {

}

/**SMALL DEVICES**/
@media screen and (max-width: 767px) {

    .cards {
        flex-direction: column;
    }

}