// COLORS
$light-grey: #F2F2F2;
$light-blue: #DEEBFF;
$blue: #0065FC;
$grey: grey;


// BORDERS
$border-radius-card: 12px;
$border-radius-form: 10px;
$border-radius-filter: 30px;



// CARDS SIZE
$card-housing-height: 200px;
$card-popular-height: 150px;
