// COLORS
$lighter-blue: #f0f2f5;

$light-grey: #F2F2F2;
$light-blue: #DEEBFF;

$ghostwhite: #d9d9d9;

$blue: #0065FC;
$grey: grey;


// BORDERS
$border-radius-card: 12px;
$border-radius-form: 10px;
$border-radius-filter: 30px;



// CARDS SIZE
$card-housing-height: 200px;
$card-housing-min-width: 250px;


$card-popular-height: 150px;
$card-popular-maxwidth: 600px;
$card-popular-minwidth: 320px;

$activity-cards__group-maxheight: 420px;
$card-activity-height-smalldevice: 210px;
