// COLORS
$lighter-blue: #f0f2f5;

$light-grey: #F2F2F2;
$light-blue: #DEEBFF;

$ghostwhite: #d9d9d9;

$blue: #0065FC;
$grey: grey;


// BORDERS
$border-radius-card: 12px;
$border-radius-form: 10px;
$border-radius-filter: 30px;



// CARDS SIZE : HOUSING
$housing__container-maxwith: 1200px;
$housing__card-height: 240px;
$housing__card-minwidth: 250px;
$housing__card-minheight--smalldevice: 300px;
$housing__card__body-height: 60px;

// CARDS SIZE : POPULAR
$popular__card-height: 150px;
$popular__card-maxwidth: 600px;
$popular__card-minwidth: 320px;

// CARDS SIZE : ACTIVITY
$activity__cards__group-maxheight: 420px;
$activity__cards__group-maxheight--smalldevice: 500px;
$activity__card__body-height: 40px;
