// BREAKPOINTS
$largescreen-minwidth : 992px;
$mediumscreen-minwidth : 768px;
$mediumscreen-maxwidth : $largescreen-minwidth - 1px;
$smallscreen-maxwidth : $mediumscreen-minwidth - 1px;


// COLORS
$lighter-blue: #f0f2f5;

$light-grey: #F2F2F2;
$light-blue: #DEEBFF;

$ghostwhite: #d9d9d9;

$blue: #0065FC;
$grey: grey;


// BORDERS
$border-radius-card: 12px;
$border-radius-form: 10px;
$border-radius-filter: 30px;


// CARDS SIZE : HOUSING
$housing__h3__margin: 0 0.2em;
$housing__gap: 1em;
$housing__card_body-gap: 0.2em;
$housing__card-minheight: 250px;
$housing__card-maxheight: 15vw;
$housing__card-minheight--smalldevice: 300px;
$housing__card__body-height: 5em;


// CARDS SIZE : POPULAR
$popular__h3__margin: 0 0.2em;
$popular__gap: 1em;
$popular__card__image-size: 12vw;
$popular__card__image-minsize: 120px;


// CARDS SIZE : ACTIVITY
$activity__gap: 1em;
$activity__cards__group-maxheight--largedevice: 32vw;
$activity__cards__group-maxheight--smallmediumdevice: 500px;
$activity__card__body-height: 2.5em;


//$housing__card-minwidth: 250px;
//$housing__container-maxwidth: 1200px;
//$popular__card-minwidth: 320px;
//$popular__card-maxwidth: 600px;
//$activity__cards__group-maxwidth--largedevice: 300px;
//$activity__cards__group-maxwidth--smalldevice: 500px;
//$activity__cards__group-maxheight: 500px;