
.container-filters {

    display: flex;
    column-gap: 20px;
    font-weight: bold;

    .filters__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 18px;
    }

    ul.filters {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 20px;
        padding: 0;

        li.filter {
            display: inline-flex;
            align-items: center;

            max-height: 40px;
            border: 1px solid $ghostwhite;
            border-radius: $border-radius-filter;
            transition: 0.3s;

            &:hover {
                cursor: pointer;
                background-color: $lighter-blue;
                transform: scale(1.05);
            }
        }

        .filter__icon {
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: $light-blue;
            border-radius: 50px;    
            padding: 10px;

            // icon has to overflow from its container
            width: 40px;
            height: 40px;
            transform: translateX(-2px);
        }

        .filter__text {
            padding: 0.5em 0.8em;
        }
    }

}


/**LARGE DEVICES**/
@media screen and (min-width: 991px) {

}

/**MEDIUM DEVICES**/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .container-filters {
        flex-direction: column;
    }
}

/**SMALL DEVICES**/
@media screen and (max-width: 767px) {
    .container-filters {
        flex-direction: column;
    }
}