footer {

    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;

    padding: 2.5em 2em;
    background-color: $light-grey;

    
    .footer__about, .footer__housing, .footer__contact {
        flex-basis: 30%;

        display: flex; 
        flex-direction: column;
        row-gap: 1em;

        .title {
            font-weight: bold;
            font-size: 1.3em;
        }

        .links {
            display: flex;
            flex-direction: column;
            row-gap: 1em;
            font-weight: 400;
            font-size: 1em;
        }
    }


    a:hover {
        text-decoration: underline;
    }

}


// SMALL DEVICES
@media screen and (max-width: $smallscreen-maxwidth) {

    footer {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 30px;
    }

}