body {
    font-family: 'Raleway', sans-serif;
}

main {
    padding: 1em;
}

button {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border: none;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

