body {
    font-family: 'Raleway', sans-serif;
}

header, main {
    padding: 1em;
}

button {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border: none;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

input {

    &::-webkit-input-placeholder {
        font-size: 14px;
        font-weight: bold;
        color: black;
    }

    
    &::-moz-placeholder {
        font-size: 14px;
        font-weight: bold;
        color: black;
    }

}
