body {
    font-family: 'Raleway', sans-serif;
}


button {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border: none;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

// LARGE + MEDIUM
@media screen and (min-width: $mediumscreen-minwidth) {

    main {
        padding: 2em;
    }
}