header {
    
    display: flex;

    .logo {
        max-height: 60px;

        img {
            max-height: 60px;
            image-rendering: -moz-crisp-edges;  /* Firefox */
            image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
        }

    }

    .top-navigation {

        font-weight: bold;
        
        ul {                       
            display: flex;
            flex-wrap: wrap;

            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }

        li {
            flex-basis: 50%;
            display: flex;
            justify-content: center;

            &:hover a {
                color: $blue; 
            }
        }

    }
}


/** LARGE + MEDIUM DEVICES**/
@media screen and (min-width: 768px) {

    header {
        justify-content: space-between;
        padding: 0 1em;
    }

    .top-navigation {
        padding: 0;
        min-width: 400px;

        li {
            align-items: flex-end;
        }

        li:hover {
            border-top: 3px solid $blue;
        }
    }

}


/**SMALL DEVICES**/
@media screen and (max-width: 767px) {

    header {
        flex-direction: column;
        justify-content: space-between;
    }

    .logo {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .top-navigation {
        height: 40px;

        li {
            align-items: flex-start;

            &:hover {
                border-bottom: 3px solid $blue;
            
                a { 
                    color: $blue; 
                }
            }

            &:not(:hover) {
                border-bottom: 3px solid $light-grey;
            }
        }
    }
}