.fas {

    &.fa-money-bill-wave, &.fa-child, &.fa-heart, &.fa-dog {
        color: $blue;
        font-size: 20px;
    }

    &.fa-star {
        color: $blue;

        &.star--empty {
            color: $grey;
        }
    }

    &.fa-chart-line {
        font-size: 30px;
    }

}


.icon-info-container {

    display: inline-flex;
    justify-content: center;
    align-items: center;

    border: 1px solid $grey;
    border-radius: 50px;
    padding: 10px 10px;
    height: 25px;
    width: 25px;

    .fa-info {
        color: $blue;
        transform: translateY(-1px);
        font-size: 15px;
    }

}
