.fas {

    &.fa-money-bill-wave, &.fa-child, &.fa-heart, &.fa-dog {
        color: $blue;
        font-size: 20px;
    }

    &.fa-star {
        color: $blue;
        font-size: 15px;

        &.star--empty {
            color: $ghostwhite;
        }
    }

    &.fa-chart-line {
        font-size: 30px;
    }

}


