.container-results {

    .results__icon {

        display: inline-flex;
        justify-content: center;
        align-items: center;
    
        border: 1px solid $ghostwhite;
        border-radius: 50px;
        padding: 10px 10px;
        height: 25px;
        width: 25px;
    
        .fa-info {
            color: $blue;
            transform: translateY(-1px);
            font-size: 15px;
        }
    
    }
    
    .results__text {
        margin-left: 5px;
    }
    
}