.container-searchform {
    padding: 1em 0;
}

form.searchform {

    display: inline-flex;

    height: 50px;

    .searchform__icon, .searchform__input, .searchform__button {
        height: 100%;
    }
    
    .searchform__icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        min-width: 40px;
        background-color: $light-grey;
        border-top-left-radius: $border-radius-form;
        border-bottom-left-radius: $border-radius-form;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    .searchform__input {
        border: 1px solid $light-grey;
        border-right: none;
        border-left: none;
        padding: 1em;
    }

    .searchform__button {
        min-width: 40px;
        padding: 4px 15px;
        font-size: 15px;
        background-color: $blue;
        color: white;
        border-top-right-radius: $border-radius-form;
        border-bottom-right-radius: $border-radius-form;
    }


    // placeholder + value for input
    input {
    
        font-size: 14px;
        font-weight: bold;
        color: black;
    
        &::-webkit-input-placeholder {
            font-size: 14px;
            font-weight: bold;
            color: $grey;
        }
    
        
        &::-moz-placeholder {
            font-size: 14px;
            font-weight: bold;
            color: $grey;
        }
    
    }
    
}



/**LARGE DEVICES**/
@media screen and (min-width: 991px) {

    .searchform__button .icon {
        display: none;        
    }

}

/**MEDIUM DEVICES**/
@media screen and (min-width: 768px) and (max-width: 991px) {

    .searchform__button .icon {
        display: none;
    }

}

/**SMALL DEVICES**/
@media screen and (max-width: 767px) {

    .searchform {
        width: 100%;
        justify-content: center;

        .searchform__input {
            min-width: 70%;
        }

        .searchform__button {

            border-radius: $border-radius-form;
            .text {
                display: none;
            }
        }
    }

}