.container-housing {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: $housing__gap;

    h3 {
        margin: $housing__h3__margin;
        font-size: 2em;
    }

    .more-link {
        font-size: 1.2em;
        font-weight: bold;
        margin: $housing__h3__margin;

        &:hover {
            text-decoration: underline;
        }
    }

    .cards {
        //padding: 0 !important;
        //margin: 0 !important;
        //border: 1px solid black;
        flex-wrap: wrap;
        gap: $housing__gap;
        //justify-content: flex-start;
        //flex: 0;
        //flex-grow: 0;
        //flex-shrink: 0;
        //flex-wrap: wrap;
        //flex-basis: auto !important;
    }


    .card {
        flex-grow: 1;
        flex-direction: column;
        max-height: $housing__card-maxheight;
        min-height: $housing__card-minheight;
        //height: $housing__card-height;
        //min-width: $housing__card-minwidth;
    }

    .card__image {
        flex: 1;
    }

    .card__body {
        height: $housing__card__body-height;
        background-color: white;
        padding: 0 0.8em;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        row-gap: $housing__card_body-gap;

        .price {
            font-weight: bold;
        }
    }

    .card__title {
        font-size: 1.2em;
    }

    .card__subtitle {
        font-size: 0.8em;
    }

}




// LARGE DEVICES
@media screen and (min-width: $largescreen-minwidth) {

    .container-housing {
        background-color: $light-grey;

        .card {
            flex-basis: 30%;
        }

    }

}

// MEDIUM DEVICES
@media screen and (min-width: $mediumscreen-minwidth) and (max-width: $mediumscreen-maxwidth) {

    .container-housing {
        background-color: $light-grey;

        .card {
            flex-basis: 45%;
        }
    }


}

// SMALL DEVICES
@media screen and (max-width: $smallscreen-maxwidth) {
    .container-housing {

        .card {
            min-height: $housing__card-minheight--smalldevice;
            flex-basis: 100%;
        }

    }
}