.container-popular {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 10px;
    
    background-color: $light-grey;

    .container__header {
        display: flex;
        justify-content: space-between;        
        align-items: flex-start;

        h3 {
            margin: 15px 0;
        }
    }

    .cards {
        align-items: space-evenly;
        justify-content: flex-start;
    }

    .card {

        border: 5px solid white;

        height: $card-popular-height;
        width: 100%;

        
        .card__image {
            height: 100%;
            width: 200px;
        }

        .card__body {
            background-color: white;
            padding: 0 1em;
            width: 100%;

            .price {
                font-weight: bold;
            }
        }

    }

}



/**LARGE DEVICES**/
@media screen and (min-width: 991px) {

}

/**MEDIUM DEVICES**/
@media screen and (min-width: 768px) and (max-width: 991px) {


}

/**SMALL DEVICES**/
@media screen and (max-width: 767px) {

}