.container-housing {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 1200px;

    h3 {
        margin: 10px 10px;
    }

    .more-link {
        font-weight: bold;
        margin: 15px 10px;

        &:hover {
            text-decoration: underline;
        }
    }

    .cards {
        column-gap: 15px;
        justify-content: center;
    }

    .card {

        flex-direction: column;

        height: $card-housing-height;
        min-width: $card-housing-min-width;
        border: 5px solid white;
    }

    .card__image {
        min-height: 60%;
    }

    .card__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        padding: 0.5em;
        background-color: white;

        .price {
            font-weight: bold;
        }
    }

}




/**LARGE DEVICES**/
@media screen and (min-width: 991px) {

    .container-housing {
        background-color: $light-grey;

        .card {
            flex-basis: 30%;
        }

    }

}

/**MEDIUM DEVICES**/
@media screen and (min-width: 768px) and (max-width: 991px) {

    .container-housing {
        background-color: $light-grey;

        .card {
            flex-basis: 45%;
        }
    }


}

/**SMALL DEVICES**/
@media screen and (max-width: 767px) {
    .container-housing {

        .card {
            min-height: 300px;
        }

    }
}