.container-activity {

    h3 {
        font-size: 2em;
    }

    .cards {
        column-gap: $activity__gap;
        justify-content: center;
        flex-wrap: wrap;
    }

    .cards__group {
        flex: 1;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    .card {        
        flex-direction: column;
        justify-content: space-between;
    }

    .card__image {
        flex: 1;
    }

    .card__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        
        height: $activity__card__body-height;
        padding-left: 0.5em;

        .card__title {
            font-size: 1.2em;
        }
    }

}

/** LARGE DEVICES ONLY !! **/
@media screen and (min-width: $breakpoint__large-minwidth) {
    .container-activity {

        .cards {
            justify-content: flex-start !important;
        }

        .cards__group {
            flex-basis: 22%;
            max-height: $activity__cards__group-maxheight--largedevice;
        }
    }
}

/**MEDIUM DEVICES ONLY !! **/
@media screen and (min-width: $breakpoint__medium-minwidth) and (max-width: $breakpoint__medium-maxwidth) {
    .container-activity {        

        .cards {
            row-gap: $activity__gap;
        }

        .cards__group {
            flex-basis: 45%;
            max-height: $activity__cards__group-maxheight--smallmediumdevice;

        }
    }
}

/** LARGE + MEDIUM DEVICES**/
@media screen and (min-width: $breakpoint__medium-minwidth) {
    .container-activity {
        
        .card:only-child {
            flex-basis: 100%;
        }

        .card:first-child:not(:only-child) {
            flex-basis: 65%;
            margin-bottom: $activity__gap;
        }
        
        .card:last-child:not(:only-child) {
            flex-basis: 35%;
        }
    }

}

/**SMALL DEVICES**/
@media screen and (max-width: $breakpoint_small-maxwidth) {
    .container-activity {


        .cards {
            flex-direction: column;
        }

        .cards__group {
            max-height: $activity__cards__group-maxheight--smallmediumdevice;
        }

        .card {
            height: $activity__cards__group-maxheight--smallmediumdevice / 2 ;
            margin-bottom: $activity__gap;
        }       
    }
}