.container-activity {

    h3 {
        font-size: 2em;
    }

    .cards {
        column-gap: $activity__gap;
        justify-content: center;
        //row-gap: 0 !important;
        //border: 1px solid black;
    }

    .cards__group {
        //border: 1px solid red;
        flex: 1;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        max-height: $activity__cards__group-maxheight;
    }

    .card {        
        flex-direction: column;
        justify-content: space-between;
        //margin-bottom: 15px;
    }

    .card__image {
        flex: 1;
    }

    .card__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        
        height: $activity__card__body-height;
        //flex-basis: 30%;
        padding-left: 0.5em;

        .card__title {
            font-size: 1.2em;
        }
    }

}

/** LARGE DEVICES ONLY !! **/
@media screen and (min-width: 991px) {
    .container-activity {

        .cards {
            justify-content: flex-start !important;
        }

        .cards__group {
            flex-basis: 22%;
            max-height: $activity__cards__group-maxheight--largedevice;
            //max-width : 22vw;
            //max-width: $activity__cards__group-maxwidth--largedevice;
        }
    }
}

/**MEDIUM DEVICES ONLY !! **/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .container-activity {        

        .cards {
            row-gap: $activity__gap;
        }

        .cards__group {
            flex-basis: 45%;
        }
    }
}

/** LARGE + MEDIUM DEVICES**/
@media screen and (min-width: 768px) {
    .container-activity {
        
        .card:only-child {
            flex-basis: 100%;
        }

        .card:first-child:not(:only-child) {
            flex-basis: 65%;
            margin-bottom: $activity__gap;
        }
        
        .card:last-child:not(:only-child) {
            flex-basis: 35%;
        }
    }

}

/**SMALL DEVICES**/
@media screen and (max-width: 767px) {
    .container-activity {


        .cards {
            flex-direction: column;
        }

        .cards__group {
            max-height: $activity__cards__group-maxheight--smalldevice;
            //max-width: $activity__cards__group-maxwidth--smalldevice;
            //margin: auto;
        }

        .card {
            height: $activity__cards__group-maxheight--smalldevice / 2 ;
            margin-bottom: $activity__gap;
        }       
    }
}