.container-popular {

    display: flex;
    flex-direction: column;
    //justify-content: center;
    row-gap: 10px;
    
    background-color: $light-grey;

    .container__header {
        display: flex;
        justify-content: space-between;        
        align-items: flex-start;

        h3 {
            margin: 15px 0;
        }
    }

    .cards {
        align-items: space-evenly;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card {
        flex-basis: 100%;
        height: $card-popular-height;
        max-width: $card-popular-maxwidth;
        min-width: $card-popular-minwidth;
    }
        
    .card__image {
        height: $card-popular-height;
        width: $card-popular-height;
    }

    .card__body {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 10px 1em;
        flex: 1; 

        .price {
            font-weight: bold;
        }
    }

    .card__title {
        margin-bottom: 10px;
    }

    .card__rating {
        margin-top: auto;
    }

}



/**LARGE DEVICES**/
@media screen and (min-width: 991px) {

}

/**MEDIUM DEVICES**/
@media screen and (min-width: 768px) and (max-width: 991px) {


}

/**SMALL DEVICES**/
@media screen and (max-width: 767px) {

}