/*******************
***** POPULAR ******
*******************/

.container-popular {

    display: flex;
    flex-direction: column;
    row-gap: $popular__gap;
    
    background-color: $light-grey;

    .container__header {
        display: flex;
        justify-content: space-between;        
        align-items: flex-start;

        h3 {
            margin: $popular__h3__margin;
            font-size: 2em;
        }
    }

    .cards {
        flex: 1;
        flex-wrap: wrap;

        flex-direction: column;
        justify-content: space-evenly;
        row-gap: $popular__gap;
        //border: 1px solid red;
    }

    .card {        
        flex: 1;
    }

    .card__image {
        //height: $popular__card__image-size;
        width: $popular__card__image-size;
        min-height: $popular__card__image-minsize;
        min-width: $popular__card__image-minsize;
        border-top-right-radius: 0 !important;
    }

    .card__body {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 0.1em 1em;
        flex: 1; 

        .price {
            font-weight: bold;
        }
    }

    .card__title {
        //margin-bottom: 0.5em;
        font-size: 1.2em;

        span.linebreak {
            display: block;
        }
    }

    .card__subtitle {
        font-size: 1em;
    }

    .card__rating {
        margin-top: auto;
    }

}

// MEDIUM DEVICES
@media screen and (min-width: $mediumscreen-minwidth) and (max-width: $mediumscreen-maxwidth) {

    .container-popular {

        .card__image {
            flex-basis: 30%;
            height: $popular__card__image-height--smallmediumdevice;
        }
        .card__body {
            justify-content: space-evenly;
        }

        .card__rating {
            margin: 0;
        }
    }
}

// SMALL + MEDIUM DEVICES
@media screen and (max-width: $mediumscreen-maxwidth) {

    .container-popular {

        .card__image {
            height: $popular__card__image-size--smallmediumdevice;
            width: $popular__card__image-size--smallmediumdevice;
        }
    }
}