.container-activity {

    h3 {
        margin-left: 20px;
    }

    .cards {
        column-gap: 15px;
    }

    .cards__group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card {
        flex-direction: column;
        min-width: $card-activity-min-width;
    }

    .card__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        
        height: 40px;
        padding: 0.5em;
    }

}

/** LARGE DEVICES ONLY !! **/
@media screen and (min-width: 991px) {

    .container-activity {
        .cards__group {
            flex-basis: 22%;           
        }
        
    }

}

/**MEDIUM DEVICES ONLY !! **/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .container-activity {

        .cards {
            justify-content: center;
        }
        
        .cards__group {
            flex-basis: 45% !important;
        }
    }


}

/** LARGE + MEDIUM DEVICES**/
@media screen and (min-width: 768px) {

    .container-activity {

        .cards__group {
            height: $card-activity-cards__group-height;
        }
        

        .card:only-child {
            flex-basis: 100%;

            .card__image {
                height: 90%;
            }
        }

        .card:first-child:not(:only-child) {
            max-height: 60%;

            .card__image {
                max-height: 250px;
            }
        }
        
        .card:last-child:not(:only-child) {
            max-height: 30%;

            .card__image {
                max-height: 100px;
            }
        }
    
    }
}

/**SMALL DEVICES**/
@media screen and (max-width: 767px) {

    .container-activity {

        .cards {

            row-gap: 0;
        
        }

        .cards__group {
            //display: block;
            //max-width: 100%;
        }

        .card {
            margin-bottom: 10px;
            height: 200px !important;

            .card__image {
                height: 150px !important;
            }

            .card__body {
                height: 50px !important;
            }
        }
        
                
    }

}