.container-activity {

    h3 {
        margin-left: 20px;
    }

    .cards {
        column-gap: 25px;
        justify-content: center;
    }

    .cards__group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        max-height: $activity-cards__group-maxheight;
    }

    .card {        
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .card__image {
        flex: 1;
    }

    .card__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        
        height: 40px;
        padding-left: 8px;
        font-size: 1em !important;
    }

}

/** LARGE DEVICES ONLY !! **/
@media screen and (min-width: 991px) {
    .container-activity {

        .cards {
            justify-content: flex-start !important;
        }

        .cards__group {
            flex-basis: 22%;           
        }
    }
}

/**MEDIUM DEVICES ONLY !! **/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .container-activity {        
        .cards__group {
            flex-basis: 45%;
        }
    }
}

/** LARGE + MEDIUM DEVICES**/
@media screen and (min-width: 768px) {
    .container-activity {
        
        .card:only-child {
            flex-basis: 100%;
        }

        .card:first-child:not(:only-child) {
            flex-basis: 65%;
        }
        
        .card:last-child:not(:only-child) {
            flex-basis: 35%;
        }
    }

}

/**SMALL DEVICES**/
@media screen and (max-width: 767px) {
    .container-activity {

        .cards {
            flex-direction: column;
        }

        .card {
            height: $card-activity-height-smalldevice ;
        }       
    }
}