.container-housing {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: $housing__gap;
    column-gap: $housing__gap;
    //flex-basis: auto !important;

    h3 {
        margin: 0 $housing__margin;
        font-size: 2em;
    }

    .more-link {
        font-size: 1.2em;
        font-weight: bold;
        margin: $housing__margin;

        &:hover {
            text-decoration: underline;
        }
    }

    .cards {
        //padding: 0 !important;
        //margin: 0 !important;
        border: 1px solid black;
        flex-wrap: wrap;
        column-gap: $housing__gap;
        row-gap : $housing__gap;
        //justify-content: flex-start;
        //flex: 0;
        //flex-grow: 0;
        //flex-shrink: 0;
        //flex-wrap: wrap;
        //flex-basis: auto !important;
    }


    .card {
        flex-grow: 1;
        flex-direction: column;
        max-height: $housing__card-maxheight;
        //height: $housing__card-height;
        //min-width: $housing__card-minwidth;
    }

    .card__image {
        flex: 1;
    }

    .card__body {
        height: $housing__card__body-height;
        background-color: white;
        padding: 0 0.5em;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        row-gap: $housing__card_body-gap;

        .price {
            font-weight: bold;
        }
    }

}




/**LARGE DEVICES**/
@media screen and (min-width: 991px) {

    .container-housing {
        background-color: $light-grey;

        .card {
            flex-basis: 30%;
            //width: 33%;
        }

    }

}

/**MEDIUM DEVICES**/
@media screen and (min-width: 768px) and (max-width: 991px) {

    .container-housing {
        background-color: $light-grey;

        .card {
            flex-basis: 45%;
        }
    }


}

/**SMALL DEVICES**/
@media screen and (max-width: 767px) {
    .container-housing {

        .card {
            min-height: $housing__card-minheight--smalldevice;
            flex-basis: 100%;
        }

    }
}