.container-housing {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .cards {
        //align-items: stretch;
        //border: 1px solid black;
        justify-content: space-between;
    }

    .card {
        flex-direction: column;
        flex-basis: 30%;
        height: 250px;

        border: 5px solid white;

        .card__image {
            height: 200px;
        }

        .card__body {
            display: flex;
            flex-direction: column;
            padding: 0.5em;
            align-items: flex-start;
            justify-content: space-between;
        }

    }

}




/**LARGE DEVICES**/
@media screen and (min-width: 991px) {

    .container-housing {
        //max-width: 60vw;
        background-color: $light-grey;
    }

}

/**MEDIUM DEVICES**/
@media screen and (min-width: 768px) and (max-width: 991px) {

    .container-housing {
        //max-width: 45vw;
        background-color: $light-grey;

        .card {
            flex-basis: 45%;
        }
    }


}

/**SMALL DEVICES**/
@media screen and (max-width: 767px) {

}