.container-housing {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 20px;
    max-width: $housing__container-maxwith;

    h3 {
        margin: 10px 10px;
    }

    .more-link {
        font-weight: bold;
        margin: 15px 10px;

        &:hover {
            text-decoration: underline;
        }
    }

    .cards {
        column-gap: 15px;
        justify-content: center;
    }

    .card {
        flex: 1;

        flex-direction: column;
        height: $housing__card-height;
        min-width: $housing__card-minwidth;
    }

    .card__image {
        flex: 1;
    }

    .card__body {
        height: $housing__card__body-height;
        background-color: white;
        padding: 0.2em 0.5em 0 0.5em;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        .price {
            font-weight: bold;
        }
    }

}




/**LARGE DEVICES**/
@media screen and (min-width: 991px) {

    .container-housing {
        background-color: $light-grey;

        .card {
            flex-basis: 30%;
        }

    }

}

/**MEDIUM DEVICES**/
@media screen and (min-width: 768px) and (max-width: 991px) {

    .container-housing {
        background-color: $light-grey;

        .card {
            flex-basis: 45%;
        }
    }


}

/**SMALL DEVICES**/
@media screen and (max-width: 767px) {
    .container-housing {

        .card {
            min-height: $housing__card-minheight--smalldevice;
        }

    }
}