@import 'container-housing';
@import 'container-popular';
@import 'container-activity';

/*******************
***** JUMBOTRON ******
*******************/

.jumbotron {

    display: flex;
    justify-content: space-between;
    align-items: stretch !important;
    //flex-wrap: wrap;
    column-gap: 1.5em;
    row-gap: 1em;

    margin: 0;
    padding: 0;

}

.container-housing, .container-popular {
    margin: 0;
    padding: 1em;
    border-radius: 10px;

}


.container-activity {
    padding: 1em;
}


// LARGE DEVICES
@media screen and (min-width: $largescreen-minwidth) {

    .jumbotron {
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .container-housing {
        flex: 1;
    }

    .container-popular {
       flex-basis: 32%;
    }
}

// MEDIUM DEVICES 
@media screen and (min-width: $mediumscreen-minwidth) and (max-width: $mediumscreen-maxwidth) {

    .jumbotron {
        flex-direction: column-reverse;
    }

}

// SMALL DEVICES
@media screen and (max-width: $smallscreen-maxwidth) {

    .jumbotron {
        flex-direction: column-reverse;
    }

}