@import 'container-housing';
@import 'container-popular';
@import 'container-activity';

.jumbotron {

    display: flex;
    justify-content: space-between;
    //flex-wrap: wrap;
    //column-gap: 15px;
    //row-gap: 15px;

    margin: 0;
    padding: 0;

}

.container-housing, .container-popular {
    margin: 0;
    //padding: 1em;
    border-radius: 10px;
}


.container-housing {
    //flex-basis: 60%;
    //flex: 40%;
}

.container-popular {
    //flex-basis: 30%;
}

.container-activity {
    padding: 1em;
}


/**LARGE DEVICES**/
@media screen and (min-width: 991px) {

    .jumbotron {
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .container-housing {
        flex: 1;
    }

    .container-popular {
       flex-basis: 32%;
    }
}

/**MEDIUM DEVICES**/
@media screen and (min-width: 768px) and (max-width: 991px) {

    .jumbotron {
        flex-direction: column-reverse;
    }

}

/**SMALL DEVICES**/
@media screen and (max-width: 767px) {

    .jumbotron {
        flex-direction: column-reverse;
    }

}