@import 'container-housing';
@import 'container-popular';
@import 'container-activity';

.jumbotron {

    display: flex;
    justify-content: space-between;

    column-gap: 15px;
    margin: 0;
    padding: 0;

    .container-housing, .container-popular {
        margin: 0;
        padding: 1em;
        border-radius: 10px;
    }

    .container-popular {
        //border: 1px solid red;
        background-color: $light-grey;
    }

    .container-housing {
        border: 1px solid green;
        background-color: $light-grey;
    }
}



/**LARGE DEVICES**/
@media screen and (min-width: 991px) {

    .jumbotron {
        align-items: flex-start;
    }
}

/**MEDIUM DEVICES**/
@media screen and (min-width: 768px) and (max-width: 991px) {

    .jumbotron {
        align-items: flex-start;
    }

}

/**SMALL DEVICES**/
@media screen and (max-width: 767px) {

    .jumbotron {
        flex-direction: column-reverse;
    }

}