/*
# Breakpoints (from bootstrap) : 
- small (mobile) : width <= 767px
- medium (tablet) : 768px <= width <= 991px
- large (computer) : width >= 992px
*/

$light-grey: #F2F2F2;
$light-blue: #DEEBFF;
$blue: #0065FC;
$grey: grey;

/*****************/


.jumbotron {
    display: flex;
    justify-content: space-between;

    .container-housing, .container-popular {
        background-color: $light-grey;
        padding: 1em;
    }

}

.cards {

    display: flex;
    flex-wrap: wrap;

    .card {    
        display: flex;
        border: 1px solid red;
        border-radius: 50px;
        
        .card__image {
            max-width: 500px;
            max-height: 500px;
            overflow: hidden;
        }
    
        picture, img {
            width: 100%;
            height: 100%;
        }
    }

}


.fa-star {
    color: $blue;

    &.star--empty {
        color: $grey;
    }
}

.container-housing {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .cards {
        //align-items: stretch;
        border: 1px solid black;
        justify-content: space-between;
    }

    .card {
        flex-direction: column;
        flex-basis: 30%;
        height: 250px;

        .card__body {
            display: flex;
            flex-direction: column;
            padding: 1em;
            align-items: flex-start;
            justify-content: space-between;
        }
        
    }

}

.container-popular {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .container__header {
        display: flex;
        justify-content: space-between;        
        align-items: center;
    }

    .cards {
        align-items: space-evenly;
        justify-content: flex-start;
    }

    .card {
        height: 150px;
        width: 100%;
    }

}

/**LARGE DEVICES**/
@media screen and (min-width: 768px) {
    .container-housing {
        max-width: 60vw;
    }

    .container-popular {
        max-width: 30vw;
    }
}

/**SMALL DEVICES**/
@media screen and (max-width: 767px) {
    .jumbotron {
        flex-direction: column-reverse;
    }

    .container-housing, .container-popular {
        max-width: auto;
    }

    .cards {
        flex-direction: column;
    }
}