@import 'scss/reset' ;
@import 'scss/constants' ;
@import 'scss/containers/index';
@import 'scss/font-awesome-custom';
@import 'scss/footer' ;

/*
# Breakpoints (from bootstrap) : 
- small (mobile) : width <= 767px
- medium (tablet) : 768px <= width <= 991px
- large (computer) : width >= 992px
*/

/******/

body {
    font-family: 'Raleway', sans-serif;
}

header, main {
    padding: 1em;
}

form {
    display: inline-block;
    border: 0.5px solid $grey;
    border-radius: 10px;

    .icon-container {
        background-color: $light-grey;
    }

    button {
        background-color: $blue;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        color: white;
        padding: 5px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 15px;
        border: none;
    }
}

.filters {
    ul {
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;

        li {
            padding: 0;
            margin: 0;
            border: 1px solid $grey;
            //border-radius: 20px;
            padding: 10px;

        }

        .icon-container {
            background-color: $light-blue;
            border-radius: 50px;
            //height: 50px;
            padding: 10px;
        }
    }
}

.jumbotron {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;

    .container-housing, .container-popular {
        padding: 1em;
    }

    .container-popular {
        background-color: $light-grey;
        border-radius: 10px;
    }

}

.cards {

    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;

    .card {    
        display: flex;
        border-radius: $border-radius-card;
        
        .card__image {
            max-width: 500px;
            max-height: 500px;
            overflow: hidden;
            border-top-right-radius: $border-radius-card;
            border-top-left-radius: $border-radius-card;
        }
    
        picture, img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }            
        
    }

}


/**LARGE DEVICES**/
@media screen and (min-width: 991px) {

    form {
        button {
            .icon {
                display: none;
            }
        }
    }

}

/**MEDIUM DEVICES**/
@media screen and (min-width: 768px) and (max-width: 991px) {

    form {
        button {
            .icon {
                display: none;
            }
        }
    }

}

/**SMALL DEVICES**/
@media screen and (max-width: 767px) {

    form {
        button {
            .text {
                display: none;
            }
        }
    }
    .cards {
        flex-direction: column;
    }

    .jumbotron {
        flex-direction: column-reverse;
    }

}