/*
# Breakpoints (from bootstrap) : 
- small (mobile) : width <= 767px
- medium (tablet) : 768px <= width <= 991px
- large (computer) : width >= 992px
*/

$light-grey: #F2F2F2;
$light-blue: #DEEBFF;
$blue: #0065FC;
$grey: grey;

$border-radius-card: 10px;
/*****************/
/*RESET */
html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;

    &:hover {
        text-decoration: underline;
    }
}

/******/

body {
    font-family: 'Raleway', sans-serif;
}

header, main {
    padding: 1em;
}

.jumbotron {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;

    .container-housing, .container-popular {
        background-color: $light-grey;
        padding: 1em;
    }

}

.cards {

    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;

    .card {    
        display: flex;
        border: 1px solid red;
        border-radius: $border-radius-card;
        
        .card__image {
            max-width: 500px;
            max-height: 500px;
            overflow: hidden;
            border-top-right-radius: $border-radius-card;
            border-top-left-radius: $border-radius-card;
        }
    
        picture, img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
            
        
    }

}


.fa-star {
    color: $blue;

    &.star--empty {
        color: $grey;
    }
}

.container-housing {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .cards {
        //align-items: stretch;
        //border: 1px solid black;
        justify-content: space-between;
    }

    .card {
        flex-direction: column;
        flex-basis: 30%;
        height: 250px;

        .card__image {
            height: 200px;
        }

        .card__body {
            display: flex;
            flex-direction: column;
            padding: 0.5em;
            align-items: flex-start;
            justify-content: space-between;
        }
        
    }

}

.container-popular {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .container__header {
        display: flex;
        justify-content: space-between;        
        align-items: flex-start;
    }

    .cards {
        border: 1px solid black;
        align-items: space-evenly;
        justify-content: flex-start;
    }

    .card {
        height: 150px;
        width: 100%;
    }

}

.container-activity {

    .col {
        flex-direction: row;
        flex-basis: 20%;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        & > .card:first-child {
            flex-basis: 30%;
        }

        & > .card:last-child {
            flex-basis: 60%;
        }
    }

    .card {
        flex-direction: column;
        height: 200px;
    }
}

footer {

    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;

    padding: 2.5em 2em;
    background-color: $light-grey;

    
    .about, .housing, .contact {
        flex-basis: 30%;

        display: flex; 
        flex-direction: column;
        row-gap: 8px;

        .title {
            font-weight: bold;
        }

        .links {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }
    }

}

/**LARGE DEVICES**/
@media screen and (min-width: 991px) {

    .container-housing {
        max-width: 60vw;
    }

    .container-popular {
        max-width: 30vw;
    }

}

/**MEDIUM DEVICES**/
@media screen and (min-width: 768px) and (max-width: 991px) {

    .container-housing {
        max-width: 45vw;

        .card {
            flex-basis: 45%;
        }
    }

    .container-popular {
        max-width: 40vw;

        .cards {
            align-items: flex-start;
            justify-content: flex-start !important;
        }
    }

}

/**SMALL DEVICES**/
@media screen and (max-width: 767px) {

    .jumbotron {
        flex-direction: column-reverse;
    }

    .container-housing, .container-popular {
        max-width: auto;
    }

    .cards {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 30px;
    }

}