/*
# Breakpoints (from bootstrap) : 
- small (mobile) : width <= 767px
- medium (tablet) : 768px <= width <= 991px
- large (computer) : width >= 992px
*/

.card {
    .card__image {
        max-width: 500px;
        max-height: 500px;
        overflow: hidden;
    }

    picture, img {
        width: 100%;
        height: 100%;
    }
}