@import 'scss/reset' ;
@import 'scss/constants' ;
@import 'scss/global' ;
@import 'scss/search-form' ;
@import 'scss/containers/index' ;
@import 'scss/cards' ;
@import 'scss/icons' ;
@import 'scss/footer' ;

/*
# Breakpoints (from bootstrap) : 
- small (mobile) : width <= 767px
- medium (tablet) : 768px <= width <= 991px
- large (computer) : width >= 992px
*/


/********/

.filters {
    ul {
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;

        li {
            padding: 0;
            margin: 0;
            border: 1px solid $grey;
            //border-radius: 20px;
            padding: 10px;

        }

        .icon-container {
            background-color: $light-blue;
            border-radius: 50px;
            //height: 50px;
            padding: 10px;
        }
    }
}



/**LARGE DEVICES**/
@media screen and (min-width: 991px) {

}

/**MEDIUM DEVICES**/
@media screen and (min-width: 768px) and (max-width: 991px) {

}

/**SMALL DEVICES**/
@media screen and (max-width: 767px) {

}