@import 'scss/reset' ;
@import 'scss/constants' ;
@import 'scss/global' ;
@import 'scss/header' ;
@import 'scss/searchform' ;
@import 'scss/filter';
@import 'scss/containers/index' ;
@import 'scss/cards' ;
@import 'scss/icons' ;
@import 'scss/footer' ;

/*
# Breakpoints (from bootstrap) : 
- small (mobile) : width <= 767px
- medium (tablet) : 768px <= width <= 991px
- large (computer) : width >= 992px
*/

h1 {
    font-size: 25px;
    margin: 5px 0;
}

h2 {
    margin: 0;
    font-size: 15px;
    font-weight: normal;
}

h3 {
    font-size: 22px;
    font-weight: 1900;
}

h4 {
    margin: 0;
}
.results-container, .jumbotron, .container-activity {
    margin-bottom: 20px;
}


/**LARGE DEVICES**/
@media screen and (min-width: 991px) {

}

/**MEDIUM DEVICES**/
@media screen and (min-width: 768px) and (max-width: 991px) {

}

/**SMALL DEVICES**/
@media screen and (max-width: 767px) {

}