@import 'scss/reset' ;
@import 'scss/constants' ;
@import 'scss/containers/index';
@import 'scss/cards' ;
@import 'scss/icons';
@import 'scss/footer' ;

/*
# Breakpoints (from bootstrap) : 
- small (mobile) : width <= 767px
- medium (tablet) : 768px <= width <= 991px
- large (computer) : width >= 992px
*/

/******/

body {
    font-family: 'Raleway', sans-serif;
}

header, main {
    padding: 1em;
}

button {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border: none;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

/********/


form {
    height: 30px;
    margin: 0; padding: 0;
    line-height: 0;
    
    * {margin: 0; padding:0;}

    button, input, .icon-container {
        height: 100%;
    }

    display: inline-block;
    border: 0.5px solid $grey;
    border-radius: 10px;

    .icon-container {
        display: inline-block;
        width: 30px;
        background-color: $light-grey;
    }

    button {
        padding: 5px;
        font-size: 15px;
        background-color: $blue;
        color: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    input {
        height: 100%;
    }
}

.filters {
    ul {
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;

        li {
            padding: 0;
            margin: 0;
            border: 1px solid $grey;
            //border-radius: 20px;
            padding: 10px;

        }

        .icon-container {
            background-color: $light-blue;
            border-radius: 50px;
            //height: 50px;
            padding: 10px;
        }
    }
}



/**LARGE DEVICES**/
@media screen and (min-width: 991px) {

    form {
        button {
            .icon {
                display: none;
            }
        }
    }

}

/**MEDIUM DEVICES**/
@media screen and (min-width: 768px) and (max-width: 991px) {

    form {
        button {
            .icon {
                display: none;
            }
        }
    }

}

/**SMALL DEVICES**/
@media screen and (max-width: 767px) {

    form {
        button {
            .text {
                display: none;
            }
        }
    }

}