/*
# Breakpoints (from bootstrap) : 
- small (mobile) : width <= 767px
- medium (tablet) : 768px <= width <= 991px
- large (computer) : width >= 992px
*/
/*****************/
/*RESET */
html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/******/
body {
  font-family: 'Raleway', sans-serif;
}

header, main {
  padding: 1em;
}

.jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.jumbotron .container-housing, .jumbotron .container-popular {
  background-color: #F2F2F2;
  padding: 1em;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}

.cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
}

.cards .card .card__image {
  max-width: 500px;
  max-height: 500px;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.cards .card picture, .cards .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fa-star {
  color: #0065FC;
}

.fa-star.star--empty {
  color: grey;
}

.container-housing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container-housing .cards {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-housing .card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  height: 250px;
}

.container-housing .card .card__image {
  height: 200px;
}

.container-housing .card .card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container-popular .container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container-popular .cards {
  border: 1px solid black;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container-popular .card {
  height: 150px;
  width: 100%;
}

.container-activity .cards {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.container-activity .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-activity .col .card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-activity .col .card:only-child {
  border: 1px solid green;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.container-activity .col .card:only-child .card__image {
  height: 80%;
}

.container-activity .col .card:first-child:not(:only-child) {
  border: 1px solid blue;
  max-height: 50%;
}

.container-activity .col .card:first-child:not(:only-child) .card__image {
  max-height: 250px;
}

.container-activity .col .card:last-child:not(:only-child) {
  border: 1px solid red;
  max-height: 30%;
}

.container-activity .col .card:last-child:not(:only-child) .card__image {
  max-height: 100px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding: 2.5em 2em;
  background-color: #F2F2F2;
}

footer .about, footer .housing, footer .contact {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}

footer .about .title, footer .housing .title, footer .contact .title {
  font-weight: bold;
}

footer .about .links, footer .housing .links, footer .contact .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

/**LARGE DEVICES**/
@media screen and (min-width: 991px) {
  .container-housing {
    max-width: 60vw;
  }
  .container-popular {
    max-width: 30vw;
  }
  .container-activity .cards .col {
    height: 400px;
    max-width: 300px;
  }
}

/**MEDIUM DEVICES**/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .container-housing {
    max-width: 45vw;
  }
  .container-housing .card {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .container-popular {
    max-width: 40vw;
  }
  .container-popular .cards {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .container-activity .cards .col {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

/**SMALL DEVICES**/
@media screen and (max-width: 767px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .jumbotron {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container-housing, .container-popular {
    max-width: auto;
  }
  .container-activity .cards {
    row-gap: 0;
  }
  .container-activity .cards .col {
    display: block;
    max-width: 100%;
  }
  .container-activity .cards .card {
    margin-bottom: 10px;
    height: 200px !important;
  }
  .container-activity .cards .card .card__image {
    height: 150px !important;
  }
  .container-activity .cards .card .card__body {
    height: 50px !important;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 30px;
  }
}
/*# sourceMappingURL=index.css.map */