/*RESET*/
html, body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

input:focus, button:focus {
  outline: none;
}

body {
  font-family: 'Raleway', sans-serif;
}

button {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  border: none;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

h1 {
  font-size: 25px;
  margin: 5px 0;
}

h2 {
  margin: 0;
  font-size: 15px;
  font-weight: normal;
}

h3 {
  font-size: 22px;
  font-weight: bold;
}

h4 {
  margin: 0;
}

.container {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  main {
    padding: 2em;
  }
}

@media screen and (max-width: 767px) {
  .container-title, .container-filters, .container-results {
    padding: 0 12px;
  }
}

header {
  display: flex;
  margin-bottom: 15px;
}

header .logo {
  max-height: 60px;
}

header .logo img {
  max-height: 60px;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
}

header .top-navigation {
  font-weight: 500;
}

header .top-navigation ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header .top-navigation li {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

header .top-navigation li:hover a {
  color: #0065FC;
}

@media screen and (min-width: 768px) {
  header {
    justify-content: space-between;
    padding: 0 1em;
  }
  .top-navigation {
    padding: 0;
    min-width: 400px;
  }
  .top-navigation li {
    align-items: flex-end;
  }
  .top-navigation li:hover {
    border-top: 3px solid #0065FC;
  }
}

@media screen and (max-width: 767px) {
  header {
    flex-direction: column;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .top-navigation {
    height: 40px;
  }
  .top-navigation li {
    align-items: flex-start;
  }
  .top-navigation li:hover {
    border-bottom: 3px solid #0065FC;
  }
  .top-navigation li:hover a {
    color: #0065FC;
  }
  .top-navigation li:not(:hover) {
    border-bottom: 3px solid #F2F2F2;
  }
}

.container-searchform {
  padding: 1em 0;
}

form.searchform {
  display: inline-flex;
  height: 50px;
}

form.searchform .searchform__icon, form.searchform .searchform__input, form.searchform .searchform__button {
  height: 100%;
}

form.searchform .searchform__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  background-color: #F2F2F2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

form.searchform .searchform__icon:hover {
  cursor: pointer;
  opacity: 0.7;
}

form.searchform .searchform__input {
  border: 1px solid #F2F2F2;
  border-right: none;
  border-left: none;
  padding: 1em;
}

form.searchform .searchform__button {
  min-width: 40px;
  padding: 4px 15px;
  font-size: 15px;
  background-color: #0065FC;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

form.searchform input {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

form.searchform input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: bold;
  color: grey;
}

form.searchform input::-moz-placeholder {
  font-size: 14px;
  font-weight: bold;
  color: grey;
}

@media screen and (min-width: 992px) {
  .searchform__button .icon {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .searchform {
    width: 100%;
    justify-content: center;
  }
  .searchform .searchform__input {
    min-width: 70%;
  }
  .searchform .searchform__button {
    border-radius: 10px;
  }
  .searchform .searchform__button .text {
    display: none;
  }
}

.container-results .results__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  padding: 10px 10px;
  height: 25px;
  width: 25px;
}

.container-results .results__icon .fa-info {
  color: #0065FC;
  transform: translateY(-1px);
  font-size: 15px;
}

.container-results .results__text {
  margin-left: 5px;
}

.container-filters {
  display: flex;
  column-gap: 20px;
  font-weight: bold;
}

.container-filters .filters__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
}

.container-filters ul.filters {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  padding: 0;
}

.container-filters ul.filters li.filter {
  display: inline-flex;
  align-items: center;
  max-height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  transition: 0.3s;
}

.container-filters ul.filters li.filter:hover {
  cursor: pointer;
  background-color: #f0f2f5;
  transform: scale(1.05);
}

.container-filters ul.filters .filter__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DEEBFF;
  border-radius: 50px;
  padding: 10px;
  width: 40px;
  height: 40px;
  transform: translateX(-2px);
}

.container-filters ul.filters .filter__text {
  padding: 0.5em 0.8em;
  font-size: 14px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container-filters {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .container-filters {
    flex-direction: column;
  }
}

.container-housing {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1em;
}

.container-housing h3 {
  margin: 0 0.2em;
  font-size: 2em;
}

.container-housing .more-link {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0.2em;
}

.container-housing .more-link:hover {
  text-decoration: underline;
}

.container-housing .cards {
  flex-wrap: wrap;
  gap: 1em;
}

.container-housing .card {
  flex-grow: 1;
  flex-direction: column;
  max-height: 15vw;
  min-height: 250px;
}

.container-housing .card__image {
  flex: 1;
}

.container-housing .card__body {
  height: 5em;
  background-color: white;
  padding: 0 0.8em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 0.2em;
}

.container-housing .card__body .price {
  font-weight: bold;
}

.container-housing .card__title {
  font-size: 1.2em;
}

.container-housing .card__subtitle {
  font-size: 0.8em;
}

@media screen and (min-width: 992px) {
  .container-housing {
    background-color: #F2F2F2;
  }
  .container-housing .card {
    flex-basis: 30%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container-housing {
    background-color: #F2F2F2;
  }
  .container-housing .card {
    flex-basis: 45%;
  }
}

@media screen and (max-width: 767px) {
  .container-housing .card {
    min-height: 300px;
    flex-basis: 100%;
  }
}

.container-popular {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  background-color: #F2F2F2;
}

.container-popular .container__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container-popular .container__header h3 {
  margin: 0 0.2em;
  font-size: 2em;
}

.container-popular .cards {
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 1em;
}

.container-popular .card {
  flex: 1;
}

.container-popular .card__image {
  width: 12vw;
  min-height: 120px;
  min-width: 120px;
  border-top-right-radius: 0 !important;
}

.container-popular .card__body {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0.1em 1em;
  flex: 1;
}

.container-popular .card__body .price {
  font-weight: bold;
}

.container-popular .card__title {
  font-size: 1.2em;
}

.container-popular .card__title span.linebreak {
  display: block;
}

.container-popular .card__subtitle {
  font-size: 1em;
}

.container-popular .card__rating {
  margin-top: auto;
}

.container-activity h3 {
  font-size: 2em;
}

.container-activity .cards {
  column-gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
}

.container-activity .cards__group {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-activity .card {
  flex-direction: column;
  justify-content: space-between;
}

.container-activity .card__image {
  flex: 1;
}

.container-activity .card__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 2.5em;
  padding-left: 0.5em;
}

.container-activity .card__body .card__title {
  font-size: 1.2em;
}

.container-activity .card__title {
  font-size: 1.2em;
}

.container-activity .card__subtitle {
  font-size: 0.8em;
}

@media screen and (min-width: 992px) {
  .container-activity .cards {
    justify-content: flex-start !important;
  }
  .container-activity .cards__group {
    flex-basis: 22%;
    max-height: 32vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container-activity .cards {
    row-gap: 1em;
  }
  .container-activity .cards__group {
    flex-basis: 45%;
    max-height: 500px;
  }
}

@media screen and (min-width: 768px) {
  .container-activity .card:only-child {
    flex-basis: 100%;
  }
  .container-activity .card:first-child:not(:only-child) {
    flex-basis: 65%;
    margin-bottom: 1em;
  }
  .container-activity .card:last-child:not(:only-child) {
    flex-basis: 35%;
  }
}

@media screen and (max-width: 767px) {
  .container-activity .cards {
    flex-direction: column;
  }
  .container-activity .cards__group {
    max-height: 500px;
  }
  .container-activity .card {
    height: 250px;
    margin-bottom: 1em;
  }
}

.jumbotron {
  display: flex;
  justify-content: space-between;
  align-items: stretch !important;
  column-gap: 1.5em;
  row-gap: 1em;
  margin: 0;
  padding: 0;
}

.container-housing, .container-popular {
  margin: 0;
  padding: 1em;
  border-radius: 10px;
}

.container-activity {
  padding: 1em;
}

@media screen and (min-width: 992px) {
  .jumbotron {
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .container-housing {
    flex: 1;
  }
  .container-popular {
    flex-basis: 32%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .jumbotron {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 767px) {
  .jumbotron {
    flex-direction: column-reverse;
  }
}

.cards {
  display: flex;
}

.cards .card {
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  border: 5px solid white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.2s;
}

.cards .card:hover {
  transform: scale(1.02);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.cards .card .card__image {
  overflow: hidden;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.cards .card picture, .cards .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
}

.fas.fa-money-bill-wave, .fas.fa-child, .fas.fa-heart, .fas.fa-dog {
  color: #0065FC;
  font-size: 20px;
}

.fas.fa-star {
  color: #0065FC;
  font-size: 0.9em;
}

.fas.fa-star.star--empty {
  color: #d9d9d9;
}

.fas.fa-chart-line {
  font-size: 30px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  padding: 2.5em 2em;
  background-color: #F2F2F2;
}

footer .footer__about, footer .footer__housing, footer .footer__contact {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

footer .footer__about .title, footer .footer__housing .title, footer .footer__contact .title {
  font-weight: bold;
}

footer .footer__about .links, footer .footer__housing .links, footer .footer__contact .links {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-weight: 400;
  font-size: 15px;
}

footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
  }
}
